// Please copy `.env.example` to `.env` and replace placeholder values with your actual environment variables.

REACT_APP_GOOGLE_CLOUD_API_KEY=GOOGLE_CLOUD_API_KEY
REACT_APP_CUSTOM_SEARCH_ENGINE_ID=CUSTOM_SEARCH_ENGINE_ID
REACT_APP_LLM_API_URL=http://localhost:8001/v1/chat/completions