:root {
  --main-bg-color: #282c34;
  --main-border-color: #d41616;
  --main-font-size: 32px;
  --container-space: 10px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--main-bg-color);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.TextBox, .input-container {
  width: 100%;
  padding: var(--container-space);
  font-size: var(--main-font-size);
  border: var(--container-space) solid var(--main-border-color);
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--container-space);
  border-radius: 4px;
  justify-content: space-evenly;
}

.SubButton {
  background-color: var(--main-bg-color);
  text-align: center;
  display: flex;
}

.row-container, .input-container {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: var(--main-font-size);
  justify-content: space-between;
}

.row-container {
  margin-bottom: 2 * var(--container-space);
}

.input-container {
  margin-right: var(--container-space);
}

img {
  max-width: 500px;
  margin-left: var(--container-space);
}
