:root {
  --main-bg-color: #282c34;
  --main-border-color: #d41616;
  --main-comp-color: #eaeaea; /* Light Grey Color */
  --main-font-size: 32px;
  --container-space: 10px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--main-bg-color);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.TextBox, .input-container {
  width: 100%;
  padding: var(--container-space);
  font-size: var(--main-font-size);
  border: var(--container-space) solid var(--main-border-color);
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--container-space);
  border-radius: 4px;
  justify-content: space-evenly;
}

.TextBox input, .input-container input { /* <-- Specific styles for input inside .TextBox and .input-container */
  font-size: calc(var(--main-font-size) * 1.2); /* Increase font size */
  padding: 10px var(--container-space); /* Vertical and horizontal padding */
  border-radius: 6px; /* Optional: Adjust border-radius */
}

.SearchButton button, .input-container input {
  background-color: var(--main-comp-color);
  text-align: center;
  font-size: calc(var(--main-font-size) * 1.2); /* Increase font size */
  display: flex;
}

.row-container, .input-container {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: var(--main-font-size);
  justify-content: space-between;
}

.row-container {
  margin-bottom: 2 * var(--container-space);
}

.prompt-container {
  width: 100%;
  padding: var(--container-space);
  display: flex;
  flex-direction: column; /* Stacking textareas vertically */
  align-items: center;
  margin-bottom: var(--container-space);
  border-radius: 4px;
}

.prompt-container textarea {
  width: 80%; /* You can adjust this if needed */
  padding: 10px var(--container-space);
  font-size: calc(var(--main-font-size) * 1.2);
  border-radius: 6px;
  margin-top: var(--container-space);
  border: 2px solid var(--main-border-color);
  color: var(--main-bg-color); /* Adjusting font color */
  background-color: var(--main-comp-color); /* Adjusting background color */
}

.input-container {
  margin-right: var(--container-space);
}

img {
  max-width: 500px;
  margin-left: var(--container-space);
}
